main[role="main"] {
  padding: 40px 0;
}

body.home main[role="main"] {
  padding: 0;
}
@media(max-width: 768px){
  body.single-rooms main[role="main"] {
    padding: 85px 40px;
  }
}

body.contact {
  main[role="main"] {
    padding: 40px 0 0;
  }
}
body.home .deals {
  padding: 60px 0;
  h3 {
    margin: 0 0 30px;
    font-size: 30px;
    text-align: center;
  }
  .deals-post {
    padding: 0;
  }
}

.main-intro {
  @media(min-width: 1025px){
    .main-info {
      float: right;
    }
    .main-map {
      float: left;
    }
  }
}

.box-bg {
  .row {
    text-align: center;
    font-size: 0;
    .col-md-4 {
      display: inline-block;
      float: none;
      @media(max-width: 767px){
        width: 100%;
      }
    }
  }
  &.ods {
    @media(min-width: 768px) and (max-width: 1024px){
      div[class*="col-"] {
        display: inline-block;
        float: none;
        width: 33.33%;
      }
    }
  }
}
@media(min-width: 768px) and (max-width: 1024px){
  .booking-box {
    position: absolute;
  }
  .bookid-horizontal .gridlane {
    padding: 10px 0 10px;
  }
}
@media(max-width: 1023px){
  .booking-box {
    position: static;
  }
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display:block;
    margin-top: 0
  }
}


.navbar .navbar-nav {
  display: inline-block;
  float: none !important;
  vertical-align: top;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  position: absolute;
  top: 18vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 4;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
.wrap-logo {
  position: relative;
  z-index: 3;
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    padding: 10px 10px 15px;
    .logo-img {
      margin-left: auto;
      margin-right: auto;
      padding-top: 0.7rem;
      max-height: 85px;
    }
    .header-address {
      text-align: center;
      margin: 10px;
      font-size: 12px;
      span {
        display: block;
      }
    }
  }
}

// body.home {
//   .navbar {
//     .navbar-nav {
//       > li {
//         display: inline-block;
//         float: none;
//       }
//     }
//   }
// }

// .header-image-page {
//   .navbar {
//     top: 0;
//     .navbar-nav {
//       float: right!important;
//       width: auto;
//       > li {
//         display: inline-block;
//         float: none;
//       }
//     }
//   }
// }

@media(min-width: 768px){
  body.home {
    .navbar {
      .navbar-nav {
        > li {
          display: inline-block;
          float: none;
        }
      }
    }
  }
  .header-image-page {
    .navbar {
      top: 0;
      .navbar-nav {
        float: right!important;
        width: auto;
        > li {
          display: inline-block;
          float: none;
        }
      }
    }
  }
}

.home-slider {
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // &:before {
  //   background: rgba(0,0,0,.3);
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  // }
}

.nav ul.dropdown-menu {
  a {
    color: #fff;
  }
  li {
    &:hover {
      background: #fff;
      a {
        color: #daa419;
      }
    }
  }
}

/* MAIN MENU */
// @media(min-width: 1025px){
//   .navbar-header {
//     float: right;
//     background: rgba(0,0,0,.5);
//     min-width: 200px;
//     text-align: center;
//     border-bottom: 5px solid red;
//     .logo-img {
//       margin: 0 auto;
//     }
//   }
// }

.nav>li>a:focus, .nav>li>a:hover {
  background: transparent!important;
  color: #fff;
}
@media(min-width: 768px){
  .navbar-nav>li>a {
    line-height: 30px;
  }
}

/* BOOKING FORM */
.booking-box {
  width: 100%;
  margin: 0 auto;
  .bookid-wrapper {
    margin: 0 auto;
    @media(min-width: 768px){
      max-width: 1140px;
    }
  }
}

/* HEADER PAGE */
.header-image-page {
  height: 45vh;
  background-size: cover;
  background-position: center;
  &.plain {
    height: 60px;
    #mainNav {
      top: 0;
    }
  }
}

/* AMENITIES */
body.amenities {
  ul {
    li {
      list-style: inside;
    }
  }
}

/* MEETING ROOM */
.inner-image {
  .image-inner {
    overflow: hidden;
    padding-bottom: 67.25%;
    position: relative;
    display: block;
    img {
      position: absolute;
      width: auto;
      height: 100%;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

#welcome-text {
  text-align: left;
  h2, h1 {
    text-align: center;
    margin: 20px 0;
  }
  h1 {
    font-size: 24px;
  }
  p {
    line-height: 24px;
  }
}

.padtb-large {
  padding: 60px 0;
}

.home-facility h2 {
  margin: 0 0 20px 0;
  text-align: center;
}

.title-gallery-home h2 {
  margin-top: 20px;
  font-size: 16px;
}

/* HOMEPAGE SLIDER */
.hotel-info-home,
.box-home-carousel {
  .owl-nav {
    display: none;
  }
}
.owl-dots {
  text-align: center;
  margin-top: 40px;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity .2s ease;
      border-radius: 30px
    }
    &.active, &:hover {
      span {
        background: #869791
      }
    }
  }
}


/* FOOTER */
.footer-distributed {
  a {
    color: $color-white;
    &:hover {
      color: $color-white;
    }
  }
  .footer-icons {
    a {
      &:hover {
        background-color: #ffffff!important;
      }
    }
  }
}
.footer-info {
  padding: 40px 0;
  text-align: center;
  color: #fff;
  p {
    margin-bottom: 0;
  }
  .footer-logo {
    margin-bottom: 20px;
    span {
      display: block;
      margin-bottom: 10px;
    }
  }
  i {
    margin-right: 5px;
  }
}

.room-info {
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 0;
  li {
    list-style: none;
    font-size: 12px;
    font-style: inherit;
    padding: 0 0 5px;
    width: 50%;
    float: left;
  }
  &:after {
    clear: both;
    display: block;
    content:"";
  }
}

/* CONTACT PAGE */
.info-text {
  margin-bottom: 20px;

  .info-icon {
    display: inline-block;
    vertical-align: middle;
    width: 15%;
    float: none;
    text-align: center;
    .icon-round {
      width: 37px;
      height: 37px;
      line-height: 37px;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      color: #fff;
      i {
        font-size: 14px;
      }
    }
  }
  .info-content {
    display: inline-block;
    vertical-align: middle;
    width: 83%;
    box-sizing: border-box;
    padding-left: 10px;
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
  }
}
.wpcf7-form {
  p {
    margin-bottom: 10px;
  }
  label {
    font-weight: normal;
    width: 100%;
    input, textarea {
      width: 100%;
      &:focus {
        border: 0;
      }
    }
  }
  input[type="submit"] {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 15px;
  }
}

#room-section .box-room,
.rooms-post,
.meetings-events,
.category-facilities {
  margin-bottom: 30px;
  .thumb {
    a, span {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      display: block;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-size: cover;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.category-facilities,
.rooms-post {
  margin-bottom: 0px;
}

/* ROOM DETAIL */
.box-container {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.room-image {
  position: relative;
  .carousel-inner {
    .item {
      span {
        position: relative;
        height: 0;
        padding-bottom: 67.25%;
        overflow: hidden;
        display: block;
        img {
          position: absolute;
          width: auto;
          height: 100%;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .carousel-control span {
    display: block;
    top: 50%;
    position: absolute;
    left: 50%;
  }
}
.room-info-spec {
  margin-bottom: 20px;
  p {
    margin-bottom: 5px;
    font-size: 12px;
  }
}
.room-details-desc {
  ul {
    li {
      list-style: inside;
    }
  }
}

.contact-map {margin-top: 20px}

/* HOMEPAGE */
#room-section {
  position: relative;
  .box-bg {
    position: relative;
    z-index: 1;
    h2 {
      margin: 0 0 20px 0;
      text-align: center;
    }
    h4 {
      font-size: 16px;
      text-align: center;
    }
  }
  &:after {
    position: absolute;
    background: url("asset/image/pattern.png");;
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }
}
.home-carousel {
  border-bottom: 0!important;
  .thumbnails {
    span {
      position: relative;
      height: 0;
      padding-bottom: 65.25%;
      display: block;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-size: cover;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.home-facility {
  .home-carousel {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.hotel-info-home {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  display: block;
  background-position: center;
  overflow: hidden;
  height: 400px;
  position: relative;
  color: #fff;
  &:after {
    position: absolute;
    background: rgba(0,0,0,.5);
    display: block;
    content: "";
    top: 0;
    bottom: 0;
    width: 100%;
  }
  p {
    line-height: 24px;
  }
  .home-award-title {
    h3 {
      margin: 40px 0 30px;
      position: relative;
      z-index: 1;
    }
  }

  .home-carousel {
    padding-top: 40px;
    .title-slide {
      text-align: center;
      h2 {
        font-size: 16px;
        margin-top: 0;
      }
    }
  }
}

@media(max-width: 767px){
  .booking-section {
    position: static;
  }

  .booking-section h2 {
    color: #fff;
    font-size: 16px;
  }
  .booking-section .box-logo {
    padding: 0;
    position: static;
  }

  .booking-section .bookid-horizontal .gridlane,
  .booking-section .bookid-wrapper .box-logo a {
    background: transparent;
  }

  .footer-credits a {
    display: block;
  }
}

.carousel-control span {
  display: block;
  top: 50%;
  position: absolute;
  left: 50%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  margin: 0 auto;
}


@media only screen and (max-width: 1024px){
  .home-slider {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.8s ease-in;
    -moz-transition: all 0.8s ease-in;
    -o-transition: all 0.8s ease-in;
    transition: all 0.8s ease-in;
    background-attachment: scroll;
  }
}

/* GALLERY */
body.gallery,
body.photos {
  .box-gallery {
    border: 0!important;
  }
  .gallery-view.slick-initialized.slick-slider {
    max-height: 540px;
  }
  .gallery-view {

    .slider-item {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    .item {
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(227,161,28,0.5);
        padding: 20px;
        color: #fff;
        @media(max-width: 767px){
          padding: 10px;
          font-size: 14px;
        }
      }
    }
    .slick-prev {
      left: 20px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
  }
  .gallery-nav {
    display: none;
  }
}
